In [2]:
# print the type of x,y,z

x = 1  
y = 2.8  
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
# Convert flot into int 

x=1.4
x=int(x)
print('x =',x)
print(type(x))

x = 1
<class 'int'>

In [8]:
#Convert from one type to another:

x = 5   # int
y = 3.8  # float
z = 5   # complex

#convert from int to float:
x=float(5)

#convert from float to int:
y=int(3.8)

#convert from int to complex:
z=complex(5)
print(x)
print(y)
print(z)

5.0
3
(5+0j)

In [9]:
# Print 15 random numbers

import random

print(random.randrange(1, 15))

8

In [17]:
# Convert int ,float to string 

x = str("t5") 
y = str(4)    
z = str(6.0)
print(f"Type of x = {type(x)} \nType of y = {type(y)} \nType of z = {type(z)}")

Type of x = <class 'str'>
Type of y = <class 'str'>
Type of z = <class 'str'>

In [18]:
# Assign a string to variable 

a="xyz"
print(a)

xyz

In [20]:
# Concatenate two string 
a="Hello raj?"
b="Hi Manish."
c="How are you."
d="I am fine."
print(a+c,"\n",b+d)

Hello raj?How are you.
 Hi Manish.I am fine.

In [23]:
# Print the output='lo, Wor'
a = "Hello, World!"
print(a[3:5],',',a[7:10])

lo , Wor

In [25]:
# Check the required string/word is in the sentence of not

Sentence="Hello Indian , I like your culture."

print('like' in Sentence)

True

In [26]:
# Print the output='I Love'
Sentence="I Love India!"
print(Sentence[0:7])

I Love

In [27]:
#print the output: 
#I want to pay 49.95 dollars for 3 pieces of item 567

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [29]:
# remove the error
Sent = "We will vist 'America' after two days."
print(Sent)

We will vist 'America' after two days.

In [32]:
# Print the sentence after comma in next line 
Sent="Hii Mona, \nWhen will we go for holidays ?"
print(Sent)

Hii Mona,
When will we go for holidays ?

In [33]:
# Remove the duplicate from the list 
List=["Ram",'Sam','Nick','Sam']
List = list(set(List))
print(List)

['Sam', 'Ram', 'Nick']

In [37]:
# Print last for element of list by negative Indexing 

Fruit_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
# print(Fruit_list[-1:-5:-1])
print(Fruit_list[-4:])

['orange', 'kiwi', 'melon', 'mango']

In [38]:
# Replace the first Sam from Micky
List=["Ram",'Sam','Nick','Sam']
List[1] = 'Micky'
print(List)

['Ram', 'Micky', 'Nick', 'Sam']

In [40]:
# Insert the Micky at 3rd index
List=["Ram",'Sam','Nick','Sam']
List.insert(3,'Micky')
print(List)

['Ram', 'Sam', 'Nick', 'Micky', 'Sam']

In [42]:
# Insert Kiwi in a tuple

x = ("apple", "banana", "cherry")
y = list(x)
y.append("kiwi")
x = tuple(y)
print(x)

('apple', 'banana', 'cherry', 'kiwi')

In [43]:
# Add item in set

Fruits = {"apple", "banana", "cherry"}

Fruits.add("kiwi")

print(Fruits)

{'apple', 'kiwi', 'cherry', 'banana'}

In [45]:
# Add two set
Fruit1 = {"apple", "banana", "cherry"}
Fruit2 = {"pineapple", "mango", "papaya"}
Fruit1.update(Fruit2)
print(Fruit1)

{'cherry', 'pineapple', 'banana', 'apple', 'papaya', 'mango'}

In [47]:
# Remove the any item from the set
set1={"Krishh","Prince","KUmar"}
set1.remove('Krishh')
print(set1)

{'Prince', 'KUmar'}

In [48]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
Bike = {
"brand": "Bajaj",
"model": "TVS",
"year": 2013
}

x = Bike.keys()

print(x) #before the change

Bike["color"] = "Red"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [50]:
#Update the item from the Dict
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
Car.update({"year": 2020})
print(Car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [52]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])